.wrapper {
     width: 90vw;
     height:100%;
     display: flex;
     justify-content: center;
     align-items:flex-end;
}

.formContainer {
     text-align: center;
     background: #330417b6;
     padding: 1em 0;
     width: 40vw;
     opacity: 1 !important;
     border-radius: 5%;
     margin-top:0;
     margin-bottom: 1em;
}

.form {
     display: flex;
     flex-direction: column;
     align-items: center;
}